#vendingMachineWrap {
  background-color: #000;
  width: 900px;
  height: 675px;
  padding: 15px;  
}

#shelf {
  background-color: #0000ff;
  width: 480px;
  height: 640px;
  padding: 20px 10px 15px 20px;
  float: left;
}

#controller {
  background-color: #fff;
  width: 335px;
  height: 635px;
  float: right;
  padding: 20px;
}

#item_list, .item_info {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.item {
  width: 110px;
  height: 75px;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
  list-style-type: none;
  text-align: center;  
}

.item_name {
  background-color: #fff;
  border: 3px solid slategray;
  line-height: 49px;
  width: 104px;
  height: 49px;
}

.item_description {
  background-color: #fff;
  font-size: 13px;
  width: 55px;
  margin: auto;
}

#controller > div {
  border: 3px solid slategray;
  width: 309px;
  margin-bottom: 20px;
  float: left;
  padding: 10px;
}

#input_money_box {
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  text-align: right;
}

#itemSelect_button_box {
  width: 319px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  overflow: hidden;
}

.itemSelect_button:hover {
  color: #fff;
  background: slategray;
}

.itemSelect_button {
  width: 66px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid slategray;
  font-size: 2em;
  margin: 0px 10px 10px 0px;
}

#state_box {
  height: 200px;
}

#wallet {
  width: 250px;
  height: 600px;
  border: 3px solid slategray;
  background-color: #fff;
  position: absolute;
  left: 950px;
  top: 65px;
  padding: 10px;
}

#money_button_list, #money_number_list {
  width: 120px;
  height: 450px;
  list-style-type: none;
  padding: 0px;
}

#money_button_list {
  float: left;
}

#money_number_list {
  float: right;
}

#money_button_list > li, #money_number_list > li {
  width: 120px;
  height: 50px;
  margin-bottom: 15px;
}

#money_button_list button, #money_number_list > li, #total_money_box {
  font-size: 1.5em;
  border-radius: 10px;
  border: 3px solid slategray;
  text-align: center;
}

#money_button_list button {
  width: 120px;
  height: 50px;
}

#money_button_list button:hover {
  color: #fff;
  background: slategray;
}

#money_number_list > li {
  width: 114px;
  height: 44px;
  line-height: 44px;
}

#total_money_box {
  height: 50px;
  margin-top: 30px; 
  line-height: 50px;
  clear: both;
}