#shelf {
  background-color: rgb(0, 0, 255);
  width: 480px;
  height: 640px;
  padding: 20px 10px 15px 20px;
}

#item_list, .item_info {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.item {
  width: 110px;
  height: 75px;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
  list-style-type: none;
  text-align: center;  
}

.item_name {
  background-color: white;
  border: 3px solid slategray;
  line-height: 49px;
  width: 104px;
  height: 49px;
}

.item_description {
  background-color: white;
  font-size: 13px;
  width: 55px;
  margin: auto;
}