.vending_machine_wrap {
  background-color: #000;
  width: 900px;
  height: 675px;
  padding: 15px;  
}

.list_wrap {
  background-color: #0000ff;
  width: 480px;
  height: 640px;
  padding: 20px 10px 15px 20px;
  float: left;
}

.total_money_wrap {
  background-color: #fff;
  width: 335px;
  height: 635px;
  float: right;
  padding: 20px;
}

.item_list, .item > dl {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.item {
  width: 110px;
  height: 75px;
  margin-right: 10px;
  margin-bottom: 5px;
  float: left;
  list-style-type: none;
  text-align: center;  
}

.item_name {
  background-color: #fff;
  border: 3px solid slategray;
  line-height: 49px;
  width: 104px;
  height: 49px;
}

.highlight {
  background-color: #f0f024;
}

.item dd {
  background-color: #fff;
  font-size: 13px;
  width: 55px;
  margin: auto;
}

.total_money, .select_button_list, .log_box {
  border: 3px solid slategray;
  width: 309px;
  margin-bottom: 20px;
  float: left;
  padding: 10px;
}

.total_money {
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  text-align: right;
}

.select_button_list {
  width: 319px;
  padding-right: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}

.select_button_list > button {
  width: 66px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid slategray;
  font-size: 2em;
  margin: 0px 10px 10px 0px;
}

.log_box {
  height: 200px;
  text-align: center;
}

.walletWrap {
  width: 250px;
  height: 600px;
  border: 3px solid slategray;
  background-color: #fff;
  position: absolute;
  left: 950px;
  top: 65px;
  padding: 10px;
}

.money_button_list, .money_count_list {
  width: 120px;
  height: 450px;
  list-style-type: none;
  padding: 0px;
}

.money_button_list {
  float: left;
}

.money_count_list {
  float: right;
}

.money_button_list > li, .money_count_list > li {
  width: 120px;
  height: 50px;
  margin-bottom: 15px;
}

.money_button_list button, .money_count_list > li, .wallet_money_box {
  font-size: 1.5em;
  border-radius: 10px;
  border: 3px solid slategray;
  text-align: center;
}

.money_button_list button {
  width: 120px;
  height: 50px;
}

.money_button_list button:hover, .select_button_list > button:hover {
  color: #fff;
  background: slategray;
}

.money_count_list > li {
  width: 114px;
  height: 44px;
  line-height: 44px;
}

.wallet_money_box {
  height: 50px;
  margin-top: 30px; 
  line-height: 50px;
  clear: both;
}