body {
  font-size: 12px;
}

#item_box {
  border: 5px solid black;
  width: 420px;
  height: 530px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  background: #06b;
  float: left;
}
#item_box > ul > li {
  text-align: center;
  display:inline-block;
  margin: 5px;
}
#item_box > ul > li > button {
  border: 2px solid gray;
  width: 90px;
  height: 40px;
  margin-bottom: 5px;
  display:block;
  font-size: 16px;
}
#item_box > ul > li > span {
  background: white;
}

#machine_controller {
  border: 5px solid black;
  width: 220px;
  height: 530px;
  margin-top: 20px;
  padding: 10px;
  float: left;
}

#credit_window{
  border: 3px solid gray;
  padding: 5px;
  font-size: 1.8em;
  text-align: right;  
}

#picking_box{
  border: 3px solid gray;
  margin-top: 30px;
  padding: 15px 5px;
}

#picking_box > button{
  border: 2px solid gray;
  width: 55px;
  height: 40px;
  margin: 5px;
  font-size: 16px;
}

#picking_box > button:nth-child(10){
  width: 93%;
}

#message_window{
  border: 3px solid gray;
  margin-top: 30px;
  padding: 5px;
  height: 180px;
}

#wallet_box {
  width: 200px;
  height: 450px;
  margin-top: 50px;
  margin-left: 10px;
  border: 3px solid gray;
  padding: 20px 5px;
  float: left;
}

.credit_unit {
  border: 2px solid gray;
  width: 100px;
  height: 40px;
  margin: 5px;
  font-size: 16px;
  display: inline-block;
}

.credit_amount{
  border: 2px solid gray;
  width: 70px;
  height: 40px;
  margin: 5px;
  font-size: 16px;
  display: inline-block;
}

#total_box{
  border: 3px solid gray;
  margin-top: 30px;
  padding: 5px;
  height: 30px;
  font-size: 22px;
  text-align: center;
  line-height: 150%;
}