
.container {
	border: 10px;
	min-width: 1100px;
}

.menu {
	width: 450px;
	background-color: green;
	border: 2.5px;
	border-right: 0px;
	border-style: solid;
	border-color: gray;
	float: left;
	height: 500px;
}

.menu_table {
  width: 100%;
}

.menu_table td {
  text-align: center;
  width: 25%;
}

.menu_table div {
	height: 35px;
  background-color: yellow;
  border: 1px solid grey;
  float: top;

}

.menu_table span {
  background-color: white;
  float: bottom;
  margin-bottom: 0;
}

.selector {
	background-color: blue;
	border-top: 2.5px;
	border-bottom: 2.5px;
	border-right: 2.5px;
	border-style: solid;
	border-color: gray;
	float: left;
	width: 350px;
	height: 500px;
	margin-right: 100px;
}

.selector_inserted_amount {
  text-align: right;
  color: white;
  border-bottom: 2.5px solid grey;
  height: 97.5px;
}

.selector_number_buttons {
  width: 80%;
  background-color: yellow;
  overflow: auto;
  margin: auto;
  height: 200px;
}

.selector_number_buttons div {
	float: left;
  border: 1px solid grey;
  width: 45px;
  height: 45px;
  margin: 10px;
  text-align: center;
}

.selector_console {
	border-top: 2.5px solid grey;
  height: 200px;
}

.wallet {
  position: absolute;
  left: 900px;
	border: 4px;
	border-style: solid;
	border-color: gray;
	background-color: red;
	float: left;
	width: 200px;
}

.wallet_table {
  width: 100%;
  text-align: center;
}

.wallet_table td {
  width: 50%;
  border: 1px solid gray;
}

.total_amount {
	border: 1px solid gray;
	width: 100%;
	text-align: center;

}
