.container {
	border: 10px;
	/* height: 100px; */
	/*width: 600px; */
}

.menu {
	background-color: green;
	border: 4px;
	border-right:2px;
	border-style: solid;
	border-color: gray;
	float: left;
	width: 32%;
	height: 100%;
}

.menu_table {
  width: 100%;
  /* margin-left:auto;
  margin-right:auto; */
}

.menu_table td {
  text-align: center;
  width: 25%;
}

.menu_table div {
  background-color: yellow;
  border: 1px solid grey;
  float: top;

}

.menu_table span {
  background-color: white;
  float: bottom;
  margin-bottom: 0;
}

.selector {
	background-color: blue;
	border: 4px;
	border-left: 2px;
	border-style: solid;
	border-color: gray;
	float: left;
	width: 32%;
}

.selector div {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid grey;
  width: 90%;
}

.selector_inserted_amount {
  text-align: right;
}

.selector_number_buttons table {
  width: 100%;
}

.selector_number_buttons td {
  border: 3px solid grey;
  /* width: 25%; */
  text-align: center;
}

.wallet {
	border: 4px;
	border-style: solid;
	border-color: gray;
	background-color: red;
	float: right;
	width: 30%;
	height: 100%;
}

.wallet_table {
  width: 100%;
  text-align: center;
}

.wallet_table td {
  width: 50%;
  border: 1px solid gray;
}

.total_amount {
	border: 1px solid gray;
	width: 100%;
	text-align: center;

}
