body {
  width: 80%;
  margin: 100px auto;
}

.machine {
  width: 100%;
  border: 3px solid black;
  display: inline-block;
  padding: 10px;
}

.menu_board {
  width: 74%;
  display: inline-block;
}

.slot {
  width: 24%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.menu_list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_list li {
  display: inline-block;
  width: 10em;
  border-style: dotted;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  background-color: yellow;
}

.menu_list li[disabled="disabled"] {
  background-color: gray;
}

.menu_list li h3 {
  display: inline-block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  vertical-align:  middle;
  margin: 0;
  padding: 0.5em;
  height: 2em;
}

.menu_list li span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
}

.balance {
  text-align: right;
}

.balance input {
  margin-right: 5px;
  font-size: 13px;
  width: 7em;
  text-align: right;
}

.slot .keypad {
  width: 100%;
  border: 3px dotted black;
  text-align: center;
  margin: 10px 0px;
  padding:
}

.slot .keypad button {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin: 3px auto;
  padding: 3px;
  font-size: 14px;
  background-color: #DDDDDD;
}

.slot textarea {
  width: 100%;
  font-size: 13px;
}

.wallet {
  display: inline-block;
  width: 100%;
  border: 3px solid black;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
}

.wallet .cash_list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 84%;
  display: inline-block;
}

.cash_list li {
  width: 12%;
  display: inline-block;
}

.cash_list li button {
  width: 100%;
  font-size: 14px;
  height: 30px;
  background-color: #DDDDDD;
}

.cash_list li span {
  display: inline-block;
  font-size: 13px;
  padding-top: 5px;
}

.wallet .balance {
  display: inline-block;
  width: 15%;
}
