/* normal */
body {
  margin: 0;
  box-sizing: border-box;
  min-width: 900px;
}
ul {
  padding-left: 0;
  margin: 0;
}
li {
  list-style: none;
}
button:focus {
  outline: none;
}

.container {
  float: left;
  margin: 0;
  width: 70%;
  background-color: #222;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  height: 100vh;
}
/* snacks */
.snacks {
  float: left;  
  width: 55%;
  box-sizing: border-box;
  padding-right: 20px;
}
.snack-list {
  float: left;
  width: 100%;
  background-color: #228be6;
  clear: left;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  height: 95vh;
  overflow: auto;
}

.snack-list-item {
 float: left;
 width: 25%;
 list-style: none;
 box-sizing: border-box;
 padding: 10px;
 min-width: 130px;
}

.snack-name-container {
  width: 100%;
  background-color: #dee2e6;
  border-radius: 5px;
  display: table;
  min-height: 30px;
}

.snak-name {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
 
}

.label-price {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 20px;
  background-color: #dee2e6;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
}
.snack-number {
  margin-right: 5px;
}
/* vendingMachine */
.vending-machine {
  float: left;
  width: 45%;
  height: 95vh;
  background-color:#ced4da; 
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
}
.diplay-inserted-money {
  height: 50px;
  background-color: #f8f9fa;
  border-radius: 5px;
  text-align: right;
  line-height: 50px;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.diplay-inserted-money p {
  margin: 10px;
}

.money {
  margin-right: 5px;
}

.number-buttons {
  float: left;
  margin-top: 40px;
  overflow: auto;
  width: 100%;
}
.number-buttons li {
  width: 22%;
  margin-right: 4%;
  float: left;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
}
.number-buttons li:nth-child(4n) {
  margin-right: 0;
  float: right;
  text-align: right
}

.select-button {
  border: none;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #495057;
  color: #FFF;
}

.display-log{
  float: left;
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
  background-image: linear-gradient(to right bottom, #2a7c57, #298f63, #25a36f, #1db77c, #0ccc89);
  min-height: 200px;
  color: #FFF;
}

/* wallet */
.wallet {
  float: left;
  width: 30%;
  background-color:#a61e4d; 
  height: 100vh;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.wallet-container {
  float: left;
  width: 100%;
  box-sizing: border-box;
  height: 95vh;
  overflow: auto;
}

.money-button-list {
  overflow: auto;
  width: 100%;
  background-color:#c2255c;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.wallet-money-button {
  float: left;
  width: 100%;
}

.wallet-money-button button,.wallet-money-button .money-count{
  float: left;
  width: 45%;
  margin-right: 5%;
  height: 60px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #eee;
  text-align: center;
  line-height: 60px;
  padding: 0;
  border: 0;
}

.total-my-assets {
  margin-top: 40px;
  background-color: #eee;
  height: 80px;
  line-height: 80px;
  text-align: right;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  clear: left;
}

