* {
  outline: none;  
}
button{
  cursor: pointer;
  border-radius: 7px;  
}
button:hover{
  background: #ddd
}
.vending_machine{
  border: 5px solid #b33;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 20px;
  float: left;  
}

.items {
  width: 420px;
  height: 530px;
  padding: 10px;
  background: #ed3b43;
  float: left;
}
.item {
  text-align: center;
  display:inline-block;
  margin: 4px 5px;
}
.item > button {
  border: 2px solid #b33;
  width: 90px;
  height: 36px;
  margin-bottom: 7px;
  display:block;
  font-size: 1rem;
  box-shadow: 0 4px #b33;
}
.item > button:active{
  box-shadow: 0 1.5px rgb(150, 3, 3);
  transform: translateY(2.5px);
}
.item > span {
  background: white;
  border-radius: 2px;
  font-size: 0.8rem;
  padding: 1.5px 4px 0px 4px;
}
.item_buyable > button{
  background: #FCE961;  
}
.item_buyable > span{
  background: #FCE961;  
}

.machine_panel {
  border-left: 3px solid #b33;
  width: 220px;
  height: 520px;
  padding: 15px 10px;
  float: left;
  background: #FF4E4D;
}
.machine_credit{
  border: 3px solid #b33;
  padding: 5px;
  font-size: 1.5rem;
  height: 25px;
  text-align: right;
  background: white;
  border-radius: 5px;
}
.machine_refund{
  margin-top: 1px;
  text-align: right;
}
.machine_refund > button{
  border: 2px solid #b33;
  width: 120px;
  height: 30px;
  font-size: 1.2rem;
  box-shadow: 0 4px #b33;
}
.machine_refund > button:active{
  box-shadow: 0 1.5px rgb(150, 3, 3);
  transform: translateY(2.5px);
}
.machine_picker{
  border: 3px solid #b33;
  background: #fd6a6c;  
  margin-top: 15px;
  padding: 10px 5px;
  border-radius: 5px;
}
.machine_picker > button{
  border: 2px solid #b33;
  width: 55px;
  height: 40px;
  margin: 5px;
  font-size: 1.2rem;
  box-shadow: 0 4px #b33;
}
.machine_picker > button:last-child {
  width: 193px; 
}
.machine_picker > button:active{
  box-shadow: 0 1.5px rgb(150, 3, 3);
  transform: translateY(2.5px);
}
.machine_message{
  border: 3px solid #b33;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  height: 200px;
  background: #fd6a6c;
  border-radius: 5px;
  resize: none;
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 15px;  
}

.wallet {
  width: 200px;
  height: 450px;
  margin-top: 50px;
  margin-left: 10px;
  border: 3px solid gray;
  padding: 20px 5px;
  float: left;
}
.wallet_moneys > ul > li{
  margin: 0px 6px;
}
.wallet_moneys > ul > li > button {
  border: 2px solid gray;
  height: 40px;
  margin: 6px 2px;
  font-size: 1rem;
  display: inline-block;
  box-shadow: 0 4px rgb(71, 65, 65);
}
.wallet_moneys > ul > li > button:nth-child(1) {
  width: 100px;
}
.wallet_moneys > ul > li > button:nth-child(2) {
  width: 70px;
}
.wallet_moneys > ul > li > button:active{
  box-shadow: 0 1.5px rgb(71, 65, 65);
  transform: translateY(2.5px);
}
.wallet_total{
  border: 2px solid gray;
  margin-top: 30px;
  padding: 5px;
  height: 30px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 150%;
}