.wrapper

  width: 1200px
  height: 900px
  margin:
    top: 75px
    left: auto
    right: auto
  
.main__container
  width: 1000px
  height: 900px
  float: left

.beverage__wrapper
  width: 480px
  float: left

.beverage__lists
  background: #484848
  height: 885px
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-auto-rows: minmax(75px, auto)
  grid-gap: 10px
  padding:
    top: 15px
    left: 15px
    right: 15px
  
.beverage__items
  font-size: 0.9rem

.beverage__name
  margin:
    top: 10px
    bottom: 5px
    left: auto
    right: auto
  width: 95px
  height: 50px
  line-height: 50px
  background: #d8d8d8
  text-align: center
  border-radius: 2.5px

.beverage__price
  border-radius: 2.5px
  background: #f8f8f8
  height: 25px
  line-height: 25px
  width: 95px
  display: block
  margin:
    left: auto
    right: auto
  text-align: center

.selector__container
  width: 520px
  float: left
  background: #989898
  height: 900px

.selector__status__wrapper

.selector__status__coin
  width: 470px
  height: 100px
  background: #181818
  margin:
    top: 35px
    bottom: 10px
    left: auto
    right: auto
  color: #fff
  text-align: right
  line-height: 100px
  padding: 
    right: 10px

.selector__status__items
  width: 480px
  height: 350px
  background: #414141
  margin:
    left: auto
    right: auto
    bottom: 50px
    top: 25px
  text-align: center
  line-height: 350px
  color: #fff

.sub__container
  background: #c5c5c5
  float: left
  width: 200px
  height: 900px
  .coin-slot__wrapper


.coin-slot__lists
  margin-top: 130px

.coin__left
  display: inline-block
  margin-left: 20px

#coin__total
  width: 150px
  height: 75px
  line-height: 75px
  text-align: center
  border-radius: 5px
  margin:
    top: 25px
    left: auto
    right: auto
  background: #fff